<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Impuestos a Pagar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
      <h1>Impuestos a pagar</h1>
      <h2>Ingrese sus ingresos de cada mes</h2>
      <form method="post" action="?opcion=calcular">
          <label for="name">Nombre: </label><input type="text" name="name"/>
          <table>
              <tr>
                  <th>Mes</th>
                  <th>Ingreso Mensual</th>
                  <th></th>
              </tr>
              <tr>
                  <td><label for="txt_ingreso1">Enero: </label></td><td><input type="text" name="txt_ingreso1" /></td>
              </tr>
              <tr>
                  <td><label for="txt_ingreso2">Febrero </label></td><td><input type="text" name="txt_ingreso2" /></td>
              </tr>
              <tr>
                  <td><label for="txt_ingreso3">Marzo </label></td><td><input type="text" name="txt_ingreso3" /></td>
              </tr>
              <tr>
                  <td><label for="txt_ingreso4">Abril </label></td><td><input type="text" name="txt_ingreso4" /></td>
              </tr>
              <tr>
                  <td><label for="txt_ingreso5">Mayo </label></td><td><input type="text" name="txt_ingreso5" /></td>
              </tr>
              <tr>
                  <td><label for="txt_ingreso6">Junio </label></td><td><input type="text" name="txt_ingreso6" /></td>
              </tr>
              <tr>
                  <td><label for="txt_ingreso7">Julio </label></td><td><input type="text" name="txt_ingreso7" /></td>
              </tr>
              <tr>
                  <td><label for="txt_ingreso8">Agosto </label></td><td><input type="text" name="txt_ingreso8" /></td>
              </tr>
              <tr>
                  <td><label for="txt_ingreso9">Setiembre </label></td><td><input type="text" name="txt_ingreso9" /></td>
              </tr>
              <tr>
                  <td><label for="txt_ingreso10">Octubre </label></td><td><input type="text" name="txt_ingreso10" /></td>
              </tr>
              <tr>
                  <td><label for="txt_ingreso11">Noviembre </label></td><td><input type="text" name="txt_ingreso11"/></td>
              </tr>
              <tr>
                  <td><label for="txt_ingreso12">Diciembre </label></td><td><input type="text" name="txt_ingreso12"/></td>
              </tr>
          </table>
          <input type="submit" value="Calcular Impuestos"/>
      </form>

  </body>
</html>
