/Craps/nbproject/private/
/AutoServiceSessionME/nbproject/private/
/CasoElBuenSabor/nbproject/private/
/BusquedaCD/nbproject/private/
/MantenimientoCD/MantenimientoCD/nbproject/private/
/TiendaMusica/TiendaMusica/nbproject/private/
/Parcial/EP-CS2/CS2-B209/C1B209-02/C1B209-02_010613/Examen_Parcial/nbproject/private/
/Parcial/EP-CS2/CS2-B209/C1B209-03/C1B209-03_CUE002370/nbproject/private/
/Parcial/EP-CS2/CS2-B209/C1B209-05/CUE008571/nbproject/private/