/Craps/nbproject/private/
/AutoServiceSessionME/nbproject/private/
/CasoElBuenSabor/nbproject/private/
/BusquedaCD/nbproject/private/
/MantenimientoCD/MantenimientoCD/nbproject/private/
/TiendaMusica/TiendaMusica/nbproject/private/
/Parcial/EP-CS2/CS2-B209/C1B209-02/C1B209-02_010613/Examen_Parcial/nbproject/private/
/Parcial/EP-CS2/CS2-B209/C1B209-03/C1B209-03_CUE002370/nbproject/private/
/Parcial/EP-CS2/CS2-B209/C1B209-05/CUE008571/nbproject/private/
/Parcial/EP-CS2/CS2-B209/C1B209-08/C1B209-CUE007846/CUE007846/nbproject/private/
/Parcial/EP-CS2/CS2-B209/C1B209-11/C1B209-11_CUE010109/EParcial/nbproject/private/
/Parcial/EP-CS2/CS2-B209/C1B209-13/C1B20913-CUE001290/ExamParcial/nbproject/private/
/Parcial/EP-CS2/CS2-B209/C1B209-15/C1B209_CUE031662/JavaApplication1/nbproject/private/
/Parcial/EP-CS2/CS2-B209/C1B209-16/#pcc1b209-16_020776/ex_parcial_020776/nbproject/private/
/Parcial/EP-CS2/CS2-B209/C1B209-19/C1B209-19_CUE012082/Impuestos/nbproject/private/
/Parcial/EP-CS2/CS2-B209/C1B209-20/C1B209_CUE010689/C1B209_CUE010689/ImpuestosApp/nbproject/private/
/Parcial/EP-CS2/CS2-B207/C1B207-01/C1B207-01_CUE008386/C1B207_CUE008386/nbproject/private/
/Parcial/EP-CS2/CS2-B207/C1B207-05/C1B207-05_CUE010393/PhpProjectCalcImp/nbproject/private/
/Parcial/EP-CS2/CS2-B207/C1B207-13/C1B207_CUE014370/C1B207_CUE014370/nbproject/private/
/Parcial/EP-CS2/CS2-B207/C1B207-11/C1B207_CUE006106/examenParcial/nbproject/private/
/Parcial/EP-CS2/CS2-B207/C1B207-14/C1B207_CUE013671/Impuestos/nbproject/private/
/Parcial/EP-CS2/CS2-B207/C1B207-15/C1B207_CUE002617/CS2Parcial/nbproject/private/