<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>Calculador de Impuestos - Ingreso de Datos</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <form method="POST" action="viewControl.php?opcion=ingresarValores">
            <table>
                <thead>
                    <tr>
                        <th>Mes</th>
                        <th>Ingreso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Enero</td>
                        <td><input type="text" name="1" value="0" /></td>
                    </tr>
                    <tr>
                        <td>Febrero</td>
                        <td><input type="text" name="2" value="0" /></td>
                    </tr>
                    <tr>
                        <td>Marzo</td>
                        <td><input type="text" name="3" value="0" /></td>
                    </tr>
                    <tr>
                        <td>Abril</td>
                        <td><input type="text" name="4" value="0" /></td>
                    </tr>
                    <tr>
                        <td>Mayo</td>
                        <td><input type="text" name="5" value="0" /></td>
                    </tr>
                    <tr>
                        <td>Junio</td>
                        <td><input type="text" name="6" value="0" /></td>
                    </tr>
                    <tr>
                        <td>Julio</td>
                        <td><input type="text" name="7" value="0" /></td>
                    </tr>
                    <tr>
                        <td>Agosto</td>
                        <td><input type="text" name="8" value="0" /></td>
                    </tr>
                    <tr>
                        <td>Septiembre</td>
                        <td><input type="text" name="9" value="0" /></td>
                    </tr>
                    <tr>
                        <td>Octubre</td>
                        <td><input type="text" name="10" value="0" /></td>
                    </tr>
                    <tr>
                        <td>Noviembre</td>
                        <td><input type="text" name="11" value="0" /></td>
                    </tr>
                    <tr>
                        <td>Diciembre</td>
                        <td><input type="text" name="12" value="0" /></td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Ingresar" />
            <input type="reset" value="Limpiar" />
            <a href="ViewControl.php">Volver al Menú Principal</a>
        </form>
    </body>
</html>
