<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Ingresar Impuesto por mes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
      <h1>Ingrese los datos</h1>
      <form action="" method="post">
          <a>Mes: </a><input type="text" id="mes" >
          <a>Ingresos</a><input type="text" id="ingresos" >
          <input type="submit" value="Ingresar">
      </form>
      <a href="Default.html">Volver</a>
  </body>
</html>
