<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="estilo.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
      <h1>Venta de CDs</h1>
      <table border="1" width="640">
          <tr>
              <td>Título</td>
              <td>Intérprete</td>
              <td>Año</td>
              <td>Acción</td>
              

          </tr>
          <?php foreach($lista as $obj) { ?>
          <tr>
              <td><?php print $obj->getTitulo(); ?></td>
              <td><?php print $obj->getInterprete(); ?></td>
              <td><?php print $obj->getAnho(); ?></td>
              <td><a href="?opcion=3&tipo=1&id=<?php echo $obj->getId(); ?>" >Comprar</a></td>
              
          </tr>
          <?php } ?>

      </table>
      
  </body>
</html>